html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

/* Shared quick classes */

.centerbox {
  min-height: calc(100vh - 180px);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyEnd {
  display: flex;
  justify-content: end;
}

.evenlySpreadRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
}

.evenlySpreadRow * {
  flex-grow: 1;
}

.wordWrapBreakWord {
  word-wrap: break-word;
}

/* Web awesome components */
wa-card {
  max-width: 100%;
}