html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

/* Shared quick classes */

.centerbox {
  min-height: calc(100vh - 180px);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centersmallbox {
  min-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyEnd {
  display: flex;
  justify-content: end;
}

.evenlySpreadRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.evenlySpreadRow > * {
  flex-grow: 1;
}

.wordWrapBreakWord {
  word-wrap: break-word;
}

.fullWidthButton {
  width: 100%;
}

.SeeMoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.SeeMoreContainer > wa-divider {
  flex-grow: 1;
}

.pageSectionMaxSizeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pageSectionMaxSize {
  max-width: 1200px;
  width: 100%;
}

/* Web awesome components */
wa-card {
  max-width: 100%;
}