html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

/* Shared quick classes */

.centerbox {
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyEnd {
  display: flex;
  justify-content: end;
}
